# OS related
.DS_Store

# Ruche related
jobs/

# Tests related
tests/*
!tests/*.py

# IDE related
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# Documentation
site

# Logs
outputs
multirun
lightning_logs
novae_*
checkpoints

# Data files
data/*
!data/_scripts
!data/README.md
!data/*.py
!data/*.sh

# Results files
results/*

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
!docs/tutorials/*.ipynb

# Misc
logs/
test.h5ad
test.ckpt
wandb/
.env
.autoenv
!**/.gitkeep
exploration

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
