anndata==0.8.0
FlowIO==0.9.12
matplotlib==3.4.3
numpy==1.21.4
pandas==1.3.4
Pillow==9.1.0
scanpy==1.9.1
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
pytorch-lightning==1.3.8
wandb==0.12.10
hydra-core==1.1.1
omegaconf==2.1.1
hydra-colorlog==1.1.0
hydra-optuna-sweeper==1.1.2